In [1]:
import pandas as pd

In [4]:
acel = pd.read_csv('data/raw/acelerometro_example.csv')
gps = pd.read_csv('data/raw/gps_example.csv')

In [5]:
acel

     Time(ms)  Accel_X  Accel_Y  Accel_Z  Gyro_X  Gyro_Y  Gyro_Z  Temp_C
0       38936     0.89    -0.46    10.52   -0.10   -0.00   -0.02   28.29
1       39448     0.90    -0.04    10.13   -0.09    0.00   -0.01   28.25
2       39964     1.14    -0.32    10.25   -0.09    0.00   -0.01   28.25
3       40476     0.90    -0.40    10.37   -0.10   -0.00   -0.02   28.39
4       40991     0.65    -0.52    10.28   -0.09   -0.01   -0.02   28.34
..        ...      ...      ...      ...     ...     ...     ...     ...
98      89452    -2.44    -5.32     9.54    0.39    0.39   -0.49   28.53
99      89965    -2.09    -5.21     8.04   -0.11   -0.05   -0.07   28.48
100     90478    -1.84    -5.71     8.15   -0.05   -0.01   -0.13   28.58
101     90993    -0.92    -5.41     8.52    0.13    0.02   -0.00   28.53
102     91507    -1.64    -5.24     8.49   -0.28    0.05   -0.01   28.48

[103 rows x 8 columns]

In [6]:
gps

,Time(ms),Latitude,Longitude,Altitude,Speed,UTC_Time,Date,Sats,Direction
0,485966,-16.388978,-49.496119,862.9,51.32,22:30:43,11224,8,157.18
1,486487,-16.388978,-49.496119,862.9,51.32,22:30:43,11224,8,157.18
2,487011,-16.389097,-49.496068,863.0,51.32,22:30:44,11224,8,157.18
3,487528,-16.389097,-49.496068,863.0,51.32,22:30:44,11224,8,157.18
4,488051,-16.389215,-49.496017,863.0,50.97,22:30:45,11224,8,157.50
...,...,...,...,...,...,...,...,...,...
197,590121,-16.402766,-49.486506,840.4,77.95,22:32:27,11224,8,111.56
198,590642,-16.402839,-49.486322,840.4,76.88,22:32:28,11224,8,111.99
199,591169,-16.402839,-49.486322,839.7,76.88,22:32:28,11224,8,111.99
200,591692,-16.402910,-49.486137,839.3,77.10,22:32:29,11224,8,111.75
201,592217,-16.402910,-49.486137,839.3,77.10,22:32:29,11224,8,111.75